<footer class="footer-contacto">
  <div class="footer-contenedor">
    <!-- Columna izquierda: logo y redes -->
    <div class="col-logo">
      <img src="assets/joli_logo.jpg" alt="Logo Joli" class="logo-footer" />
      <p>Síguenos en redes sociales</p>
      <div class="redes">
  <ion-icon name="logo-instagram"></ion-icon>
  <ion-icon name="logo-facebook"></ion-icon>
  <ion-icon name="logo-linkedin"></ion-icon>
</div>

    </div>

    <!-- Columna centro: contacto -->
    <div class="col-contacto">
  <h3>PONTE EN CONTACTO</h3>
  <ul>
    <li>
      <ion-icon name="call-outline"></ion-icon>
      <span>Tel. 442 425 24 52</span>
    </li>
    <li>
      <ion-icon name="mail-outline"></ion-icon>
      <span>contacto&#64;joli.mx</span>
    </li>
    <li>
      <ion-icon name="location-outline"></ion-icon>
      <span>
        Blvd. Bernardo Quintana 14<br />
        Alamos 2da Secc.<br />
        Santiago de Querétaro
      </span>
    </li>
  </ul>
</div>


    <div class="col-form">
      <p>Déjanos tus datos y un especialista se pondrá en contacto.</p>
      <form>
        <input type="text" placeholder="NOMBRE COMPLETO" />
        <input type="text" placeholder="NÚMERO DE CONTACTO" />
        <input type="email" placeholder="CORREO ELECTRÓNICO" />
        <select>
  <option class="input-select" value="" disabled selected>ME INTERESA</option>
  <option value="seguros">SEGUROS</option>
  <option value="retiro">PLAN PERSONAL DE RETIRO</option>
  <option value="afore">AFORE Y PENSIONES</option>
  <option value="credito">CRÉDITO A PENSIONADOS</option>
</select>

      </form>
    </div>
  </div>
</footer>
