<footer class="footer-contacto">
  <div class="footer-contenedor">
    <!-- Columna izquierda: logo y redes -->
    <div class="col-logo">
      <img src="assets/joli_blanco.png" alt="Logo Joli" class="logo-footer" />
      <p>Síguenos en redes sociales</p>
      <div class="redes">
        <a href="https://www.instagram.com/joli_pensiones_seguros?igsh=MWxua2tvdjZmand2MQ=="><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://www.facebook.com/share/1G1QRacGzc/"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://www.linkedin.com/company/jolipensionesyseguros/"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="https://wa.me/5214424252452?text=Hola%20Joli,%20estoy%20interesado%20en%20agendar%20una%20cita"
          target="_blank"
          rel="noopener"><ion-icon name="logo-whatsapp"></ion-icon></a>
      </div>
    </div>

    <!-- Columna centro: contacto -->
    <div class="col-contacto">
      <h3 translate="no">PONTE EN CONTACTO</h3>
      <ul>
        <li>
          <ion-icon name="call-outline"></ion-icon>
          <a href="tel:+524424252452" translate="no">Tel. 442 425 24 52</a>
        </li>
       <li>
  <ion-icon name="mail-outline"></ion-icon>
  <a
    href="https://mail.google.com/mail/?view=cm&fs=1&to=comercial@joli.com.mx"
    target="_blank"
    rel="noopener"
  >
    comercial&#64;joli.com.mx
  </a>
</li>

        <li>
  <ion-icon name="location-outline"></ion-icon>
  <a
    href="https://www.google.com/maps?q=Blvd.+Bernardo+Quintana+Arrioja+14,+Alamos+2da+Secc.,+Santiago+de+Querétaro"
    target="_blank"
    rel="noopener"
    translate="no"
  >
    Blvd. Bernardo Quintana Arrioja 14<br />
    Alamos 2da Secc.<br />
    Santiago de Querétaro
  </a>
</li>

      </ul>
    </div>

    <div class="col-form">
      <p>Déjanos tus datos y un especialista se pondrá en contacto.</p>
      <form (submit)="enviarWhatsApp($event)">
  <input type="text" name="nombre" placeholder="NOMBRE COMPLETO" required />
  <input type="text" name="telefono" placeholder="NÚMERO DE CONTACTO" required />
  <input type="email" name="correo" placeholder="CORREO ELECTRÓNICO" required />
  <select name="interes" required>
    <option value="" disabled selected>ME INTERESA</option>
    <option value="SEGUROS">SEGUROS</option>
    <option value="PLAN PERSONAL DE RETIRO">PLAN PERSONAL DE RETIRO</option>
    <option value="AFORE Y PENSIONES">AFORE Y PENSIONES</option>
    <option value="CRÉDITO A PENSIONADOS">CRÉDITO A PENSIONADOS</option>
  </select>
  <button type="submit">ENVIAR</button>
</form>

    </div>
  </div>
</footer>
