<ion-content [fullscreen]="true" #contenido>
  <!-- BARRA SUPERIOR DE CONTACTO -->
  <div class="barra-contacto">
    <div class="contenedor-contacto">
      <a
    href="https://mail.google.com/mail/?view=cm&fs=1&to=comercial@joli.com.mx"
    target="_blank"
    rel="noopener"
  >
    comercial&#64;joli.com.mx
  </a>
     <a href="tel:+524424252452">Tel. 442 425 24 52</a>
    </div>
  </div>

  <!-- BARRA DE NAVEGACIÓN -->
  <div class="barra-navegacion">
  <a href="/inicio">
    <img src="assets/joli_logo.jpg" alt="Logo Joli" class="logo-joli" />
  </a>

  <button class="menu-toggle" (click)="menuAbierto = !menuAbierto">
    <ion-icon name="menu-outline"></ion-icon>
  </button>

  <nav class="menu-principal" [class.abierto]="menuAbierto">
    <a href="/nosotros">NOSOTROS</a>
    <a href="/pensiones">PENSIONES, AFORE <br /> Y MODALIDAD 40</a>
    <a class="selected" href="/seguros">SEGUROS</a>
    <a (click)="scrollTo('contacto')">CONTACTO</a>
  </nav>
</div>

<section class="seccion-seguros">
  <div class="overlay-seguros">
    <h2>Protege lo que más amas</h2>
  </div>

  <div class="contenedor-tarjetas">
    <div class="tarjeta-seguro">
      <ion-icon name="medkit-outline"></ion-icon>
      <h3>GASTOS MÉDICOS<br />MAYORES</h3>
    </div>
    <div class="tarjeta-seguro">
      <ion-icon name="airplane-outline"></ion-icon>
      <h3>DE VIAJE O VIDA<br />TEMPORAL</h3>
    </div>
    <div class="tarjeta-seguro">
      <ion-icon name="person-outline"></ion-icon>
      <h3>HOMBRE CLAVE<br />EMPRESARIAL</h3>
    </div>
    <div class="tarjeta-seguro">
      <ion-icon name="car-outline"></ion-icon>
      <h3>DE AUTO</h3>
    </div>
  </div>
</section>


<section class="seccion-medica-total">
  <div class="contenedor-medica">
    <div class="card-medica">
      <img src="assets/medical.png" alt="Médica Total Plus" />
      <!-- <a href="/assets/ficha-tecnica-medica-total.pdf" target="_blank" class="descargar-ficha">
        DESCARGAR FICHA TÉCNICA
      </a> -->
    </div>

    <div class="contenido-beneficios">
      <h3>BENEFICIOS</h3>
      <ul>
        <li>Más de 12 mil proveedores médicos en todo México.</li>
        <li>Consulta médica a domicilio.</li>
        <li>Tratamiento ambulatorio.</li>
        <li>Servicios de hospitalización.</li>
        <li>Cobertura desde la atención médica primaria hasta la atención médica mayor.</li>
        <li>Cobertura de Maternidad.</li>
      </ul>

      <!-- <button class="btn-contactar">
        Contactar agente <ion-icon name="arrow-forward-outline"></ion-icon>
      </button> -->
    </div>
  </div>
</section>


<section class="seccion-empresa">
  <div class="contenido-empresa">
    <div class="texto-empresa">
      <h2>PROTEGE A TU EMPRESA</h2>
      <h3>BENEFICIOS</h3>
      <ul>
        <li>• 100% deducible de impuestos</li>
        <li>• Retorno total de tu inversión</li>
        <li>• Rendimientos al terminar el plazo</li>
      </ul>

      <!-- <button class="btn-contactar">
        Contactar agente
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </button> -->
    </div>

    <div class="imagen-empresa">
      <img src="assets/protege.png" alt="Protege a tu empresa" />
      <!-- <a href="assets/ficha-hombre-clave.pdf" download class="ficha-tecnica">DESCARGAR FICHA TÉCNICA</a> -->
    </div>
  </div>
</section>

<section class="seccion-unete">
    <div class="contenedor-unete">
      <!-- Imagen a la izquierda -->
      <div class="imagen-unete">
        <img src="assets/equipo-joli.jpg" alt="Equipo Joli" />
      </div>

      <!-- Contenido a la derecha -->
      <div class="contenido-unete">
        <h2>¡ÚNETE A NUESTRO EQUIPO!</h2>

        <!-- <img src="assets/joli_logo.jpg" alt="Logo Joli" class="logo-unete" /> -->
        <p>
          Somos una gran familia donde<br />
          el éxito individual construye el<br />
          éxito de todos
        </p>
        <p>
  <strong>Buscamos asesores de seguros y asesores de AFORE.</strong>
</p>
        <a
          class="btn-unete"
          href="https://wa.me/5214425032094?text=Hola,%20estoy%20interesado%20en%20ser%20parte%20de%20Joli...%20me%20puedes%20dar%20más%20información?"
          target="_blank"
          rel="noopener"
        >
          Más información <span class="flecha">→</span>
        </a>
      </div>
    </div>
  </section>



<div id="contacto">
  <app-footer></app-footer>
</div>



</ion-content>